<!DOCTYPE html>
<html>
  <head>

    <title>MUNCHEEZ</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
     <script src="https://use.fontawesome.com/626ccea282.js"></script>
  </head>

    <body>

     <i class="fa fa-superpowers" aria-hidden="true"></i>

    </body>

</html>
